<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
            table {
                display: table;
                border-collapse: separate;
                border-spacing: 30px;
                border-color: gray;
            }
        </style>
    </head>
    <body>
        <h1>Slim</h1>
        <div>a microframework for PHP</div>
        <h1>Details Employee</h1>

        <table class="pure-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Skills</th>
            </tr>
            <?php foreach ($json as $empleado): ?>
                <tr>
                    <td><?=$empleado['name'] ?></td>
                    <td><?=$empleado['email'] ?></td>
                    <td><?=$empleado['phone'] ?></td>
                    <td><?=$empleado['address'] ?></td>
                    <td><?=$empleado['position'] ?></td>
                    <td><?=$empleado['salary'] ?></td>
                    <td>
                        <ul>
                            <?php foreach ($empleado['skills'] as $skill): ?>
                                <li><?= $skill['skill'] ?></li>
                            <?php endforeach; ?>
                        </ul>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </body>
</html>
