<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
            table {
                display: table;
                border-collapse: separate;
                border-spacing: 38px;
                border-color: gray;
            }
        </style>
    </head>
    <body>
        <h1>Slim</h1>
        <div>a microframework for PHP</div>
        <h1>Developer Employees</h1>

        <table class="pure-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Salary</th>
            </tr>

            <?php foreach ($json as $ticket): ?>

                <tr>
                    <td><?=$ticket['name'] ?></td>
                    <td><?=$ticket['email'] ?></td>
                    <td><?=$ticket['position'] ?></td>
                    <td><?=$ticket['salary'] ?></td>
                    <td>
                            <a href="/empleado/<?=$ticket['id'];?>" type="button">detalles</a>
                    </td>
                </tr>

            <?php endforeach; ?>

            <form action="/">

                <div>
                    <label><b>Buscar por Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email">
                    <button type="submit">buscar</button>
                </div>
            </form>
        </table>
    </body>
</html>
